go 1.25.8

use (
	.
	./build/gen/bindings/guest
	./pkg/wasm/guest
	./plugins/wasm/ai
	./plugins/wasm/buffer
	./plugins/wasm/chat
	./plugins/wasm/health
	./plugins/wasm/iam
	./plugins/wasm/presence
	./plugins/wasm/project
	./plugins/wasm/secrets
	./plugins/wasm/tasks
	./plugins/wasm/team-presence
)
